## Inspect Data ##

In [1]:
import pandas as pd

In [6]:
OUTPUT = '/home/clin/Springboard/Capstone/Jester/AllData/inspect_data_output.csv'
df = pd.read_csv(OUTPUT)

In [7]:
df

         video_id  frame_count  width  height  depth
0           69259           37    100     176      3
1           69259           37    100     176      3
2           69259           37    100     176      3
3           69259           37    100     176      3
4           69259           37    100     176      3
...           ...          ...    ...     ...    ...
5279576    110503           37    100     176      3
5279577    110503           37    100     176      3
5279578    110503           37    100     176      3
5279579    110503           37    100     176      3
5279580    110503           37    100     176      3

[5279581 rows x 5 columns]

In [8]:
# Should probably use a maximum of 40 frames
df['frame_count'].value_counts()

37    2384576
36    1033668
35     403480
33     381315
34     367302
38     296704
32     201120
31      62000
39      38766
30      28440
29      13775
23      13409
28       9856
40       7280
25       6600
24       5928
26       5616
27       4698
22       2464
41       1927
42       1722
19       1064
44       1012
21        966
20        940
46        736
45        720
43        688
47        376
48        336
51        204
49        196
14        182
16        176
18        162
50        150
17        136
15        135
13        117
56        112
70         70
69         69
67         67
65         65
63         63
62         62
54         54
53         53
12         24
Name: frame_count, dtype: int64

In [9]:
# Width is always 100

df['width'].value_counts()

100    5279581
Name: width, dtype: int64

In [10]:
# Most images have a height of 176, 

df['height'].value_counts()

176    3886000
132    1345298
100      30514
142      12531
122       1715
160       1383
106       1377
172        763
Name: height, dtype: int64

In [11]:
# Depth is always 3

df['depth'].value_counts()

3    5279581
Name: depth, dtype: int64

In [12]:
df = pd.read_csv('/home/clin/Springboard/Capstone/Jester/AllData/jester-v1-train.csv', header = None, sep = ';')

In [13]:
df[1].value_counts()

Doing other things               9592
Thumb Down                       4390
Thumb Up                         4373
Drumming Fingers                 4371
Pushing Hand Away                4357
Sliding Two Fingers Down         4348
Stop Sign                        4337
Zooming Out With Two Fingers     4323
Pulling Hand In                  4323
Zooming In With Two Fingers      4302
Sliding Two Fingers Left         4292
Pushing Two Fingers Away         4291
Zooming Out With Full Hand       4281
No gesture                       4278
Pulling Two Fingers In           4267
Swiping Down                     4259
Shaking Hand                     4258
Zooming In With Full Hand        4251
Swiping Up                       4220
Sliding Two Fingers Up           4219
Sliding Two Fingers Right        4206
Swiping Left                     4162
Rolling Hand Forward             4132
Swiping Right                    4084
Rolling Hand Backward            4032
Turning Hand Counterclockwise    3398
Turning Hand Clockwise           3216
Name: 1, dtype: int64